<p id="notice"><%= notice %></p>

<p>
  <strong>Team Name:</strong>

  <h3><%= @team.name %></h3>
    <td><%= link_to 'Edit', edit_team_path(@team) %></td> |
    <td><%= link_to 'Destroy', @team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</p>
<br /><br />
<h4 style="color: #003bb3">All Players :</h4>

<p><strong><%= render @team.players %></strong></p>
<br /><br /><br />
<h4>Add a player:</h4>

<%= render "players/form" %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
